html {
  font-size: 10px;
  background: url("../piano-background.jpg") bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keyboard-keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: 0.4rem solid orange;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.07 ease;
    width: 10rem;
    text-align: center;
    color: purple;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 0.5rem black;
}

kbd {
    display: block;
    border: 1px solid red;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    color: #ffc600;
}